beautifulsoup4~=4.13.3
fastapi~=0.115.11
httpx~=0.24.1
pydantic~=2.10.6
sympy~=1.13.2
tortoise-orm~=0.24.2
uvicorn~=0.34.0
lxml~=4.9.3
aiomysql~=0.2.0
httpx-cache~=0.13.0
aiocron~=2.1
requests~=2.31.0
uvicorn[standard]
tortoise-orm[aiomysql]